:root {
    --true-background-gradient: linear-gradient(to top, #f9dd9a, #f0f99a);

    --content-background-solid: #b7f799;
    --content-background-transparent: #b7f79999;
    --debug-background-solid: #f499f7;
    --debug-background-transparent: #f499f799;
    --warning-background-solid: #f79999;
    --warning-background-transparent: #f7999999;

    --button-background-active: #fab8fc;
    --button-border-active: #f499f7;
    --button-background-inactive: #d9a1db;
    --button-border-inactive: #bf79c2;

    --evil-text: darkorchid;
    --bar-text: #445f38;
    --bar-text-selected: #52375e;
    --fizzy-name-text: #299111;
    --onrac-name-text: darkcyan;
    --TOC-link-text: #8d38f4;

    --table-border: #b979bd;
    --table-alt-row: #b979bd99;
}

body {
    background-image: url('weird_photos/background.png'), var(--true-background-gradient);
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    font-family: 'Island Moments', cursive;
    font-size: x-large;
    overflow: hidden;
}

.tiny-but-readable-n-not-shit {
    font-size: large;
}

.boring-centered-content-kus-im-a-basic-bitch {
    margin-left: 12vw;
    margin-right: 30vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border: solid var(--content-background-solid) 0.3vw;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 40vw;
    max-width: 40vw;
    overflow: auto;
    padding-left: 3%;
    padding-right: 3%;
    background: var(--content-background-transparent);
    border-radius: 3%;
}

.has-right-bar {
    margin-left: 8vw;
    margin-right: 8vw;
    min-width: 40vw;
    max-width: 40vw;
}

.doof-evil-inc {
    font-family: monospace;
    font-size: xx-large;
    color: var(--evil-text);
}

@font-face {
    font-family: 'Island Moments';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fucin-fonts/Caveat/Caveat-VariableFont_wght.ttf") format('woff2');
}

.sidebar-left {
    margin-left: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 16vw;
    min-width: 16vw;
    height: fit-content;
    max-height: 90vh;
    min-height: 30vh;

    border: solid var(--content-background-solid) 0.3vw;
    overflow: auto;
    padding-left: 0.3%;
    padding-right: 0.3%;
    background: var(--content-background-transparent);
    border-radius: 3%;
}

.sidebar-right {
    margin-right: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 16vw;
    min-width: 16vw;
    height: fit-content;
    max-height: 90vh;
    min-height: 30vh;

    border: solid var(--content-background-solid) 0.3vw;
    overflow: auto;
    padding-left: 0.3%;
    padding-right: 0.3%;
    background: var(--content-background-transparent);
    border-radius: 3%;
}

.bar-item-entry {
    margin-left: 1vw;
    text-decoration: none;
}

.closed>.bar-item-children {
    display: none;
}

.bar-item {
    color: var(--bar-text);
}

.bar-item-entry::before {
    content: "\e003";
}

.selected::before {
    content: "\e001";
}

.bar-item.closed::before {
    content: "▲"
}

.bar-item::before {
    content: "▼"
}



.bar-item-entry:link,
.bar-item-entry:visited,
.bar-item-entry:hover {
    color: var(--bar-text);
}

.selected:link,
.selected:visited,
.selected:hover,
.selected {
    color: var(--bar-text-selected);
}

.content {
    display: inline-flex;
}

.monospace {
    font-family: monospace;
    font-size: small;
}

.debug {
    border: solid var(--debug-background-solid) 0.3vw;
    overflow: auto;
    padding-left: 0.3%;
    padding-right: 0.3%;
    background: var(--debug-background-transparent);
    border-radius: 3%;
}

.button {
    overflow: auto;
    padding: 0.6%;
    border-radius: 3%;
    width: fit-content;
    margin: 0.6%;
    cursor: pointer;
}

.button.active {
    background: var(--button-background-active);
    border: solid var(--button-border-active) 0.3vw;
}

.button.inactive {
    background: var(--button-background-inactive);
    border: solid var(--button-border-inactive) 0.3vw;
}

.button-bar {
    display: flex;
}

.no-background-or-border-its-oldschool-time {
    background: none;
    border: none;
    margin-bottom: none;
    max-height: 84vh;
}

.sidebar-title {
    width: 12vw;
    height: 4rem;
    font-size: 3rem;
    padding: none;
    margin: none;
    text-align: center;
}

.fizzy-name {
    color: var(--fizzy-name-text);
}

.fizzy-name::before,
.fizzy-name::after,
.sparkles::before,
.sparkles::after {
    content: '✨';
}

.onrac-without-the-rac {
    font-family: fantasy;
    color: var(--onrac-name-text);
    font-size: 2rem;
}

.warning-full-width {
    background-color: var(--warning-background-transparent);
    width: 100%;
    font-size: large;
    padding: 0.5vw;
    border-radius: 1%;
    border: solid var(--warning-background-solid) 0.3vw;
}

.display-initial {
    display: initial;
}

a.fanci-list-link {
    text-decoration: none;
    color: var(--TOC-link-text);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: solid var(--table-border) 0.3vw;
    text-align: left;
    padding: 8px;
    border-radius: 3%;
}

tr:nth-child(even) {
    background-color: var(--table-alt-row);
}
