body {
    background-image: url('weird_photos/background.png'), linear-gradient(to top, #f9dd9a, #f0f99a);
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    font-family: 'Island Moments', cursive;
    font-size: x-large;
    overflow: hidden;
}

.tiny-but-readable-n-not-shit {
    font-size: large;
}

.boring-centered-content-kus-im-a-basic-bitch {
    margin-left: 15vw;
    margin-right: 30vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    border: solid #b7f799 0.3vw;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 40vw;
    max-width: 40vw;
    overflow: auto;
    padding-left: 3%;
    padding-right: 3%;
    background: #b7f79999;
    border-radius: 3%;
}

.has-right-bar {
    margin-left: 11vw;
    margin-right: 11vw;
    min-width: 40vw;
    max-width: 40vw;
}

.doof-evil-inc {
    font-family: monospace;
    font-size: xx-large;
    color: darkorchid;
}

@font-face {
    font-family: 'Island Moments';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fucin-fonts/Caveat/Caveat-VariableFont_wght.ttf") format('woff2');
}

.sidebar-left {
    margin-left: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 13vw;
    min-width: 13vw;
    height: fit-content;
    max-height: 90vh;
    min-height: 30vh;

    border: solid #b7f799 0.3vw;
    overflow: auto;
    padding-left: 0.3%;
    padding-right: 0.3%;
    background: #b7f79999;
    border-radius: 3%;
}

.sidebar-right {
    margin-right: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 13vw;
    min-width: 13vw;
    height: fit-content;
    max-height: 90vh;
    min-height: 30vh;

    border: solid #b7f799 0.3vw;
    overflow: auto;
    padding-left: 0.3%;
    padding-right: 0.3%;
    background: #b7f79999;
    border-radius: 3%;
}

.bar-item-entry {
    margin-left: 1vw;
    text-decoration: none;
}

.closed>.bar-item-children {
    display: none;
}

.bar-item {
    color: #445f38;
}

.bar-item-entry::before {
    content: "⏹";
}

.selected::before {
    content: "⏺";
}

.bar-item.closed::before {
    content: "▲"
}

.bar-item::before {
    content: "▼"
}



.bar-item-entry:link,
.bar-item-entry:visited,
.bar-item-entry:hover {
    color: #445f38;
}

.selected:link,
.selected:visited,
.selected:hover,
.selected {
    color: #52375e;
}

.content {
    display: inline-flex;
}

.monospace {
    font-family: monospace;
    font-size: small;
}

.debug {
    border: solid #f499f7 0.3vw;
    overflow: auto;
    padding-left: 0.3%;
    padding-right: 0.3%;
    background: #fab8fc;
    border-radius: 3%;
}

.button {
    overflow: auto;
    padding: 0.6%;
    border-radius: 3%;
    width: fit-content;
    margin: 0.6%;
    cursor: pointer;
}

.button.active {
    background: #fab8fc;
    border: solid #f499f7 0.3vw;
}

.button.inactive {
    background: #d9a1db;
    border: solid #bf79c2 0.3vw;
}

.button-bar {
    display: flex;
}

.no-background-or-border-its-oldschool-time {
    background: none;
    border: none;
    margin-bottom: none;
    max-height: 84vh;
}

.sidebar-title {
    width: 12vw;
    height: 4rem;
    font-size: 3rem;
    padding: none;
    margin: none;
    text-align: center;
}

.fizzy-name {
    color: #299111;
}

.fizzy-name::before,
.fizzy-name::after,
.sparkles::before,
.sparkles::after {
    content: '✨';
}

.onrac-without-the-rac {
    font-family: fantasy;
    color: darkcyan;
    font-size: 2rem;
}
