/* I swear to fuck if your tag names are not funny I will block you from the repo*/

body {
    background: linear-gradient(to top, #f9dd9a, #f0f99a) no-repeat;
    min-height: 100vh;
    font-family: 'Island Moments', cursive;
    font-size: larger;
}

.tiny-but-readable-n-not-shit {
    font-size: small;
}

.boring-centered-content-kus-im-a-basic-bitch {
    margin-left: 30vw;
    margin-right: 30vw;
}

@font-face {
    font-family: 'Island Moments';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fucin-fonts/Caveat/Caveat-VariableFont_wght.ttf") format('woff2');
}
